extends layout

block content

  if articles.length
    div.articles-container
      each article in articles
        div.article
          div.left
            h2.title= article.title
            p.text= article.content
            p.author= article.author
          div.right
            img(src=article.imgSrc)
  else
    p No articles found
